.banner {
	text-align: center;
	color: #fff;
	&-title {
		font-size: 45px;
		font-weight: 600;
		margin: 0px 0px 25px 0px;
		@media (min-width: 768px) {
			font-size: 63px;
		}
	}
	&-text {
		font-size: 17px;
		margin: 0 auto 40px;
		width: 100%;
		max-width: 400px;
		@media (min-width: 768px) {
			font-size: 23px;
			margin: 0 auto 80px;
		}
	}
	.btn-banner {
		text-transform: capitalize;
		background-color: transparent;
		border: 2px solid #fff;
		@media (min-width: 768px) {
			border: 3px solid #fff;
		}
		&:hover {
			background-color: #fff;
			color: #484c55;
		}
	}
}
.slider {
	position: relative;
	width: 100vw;
	top: 0;
	left: 50%;
	transform: translateX(-50%);
	&-item {
		background-size: cover;
		background-position: 50% 50%;
		background-repeat: no-repeat;
	}
	&-content {
		padding: 140px 0px 140px 0px;
	}
}
.banner .slick-prev.slick-arrow {
	border: none;
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	cursor: pointer;
	&::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 60%;
		background-color: transparent;
		border-left: 2px solid #49cbcd;
		border-bottom: 2px solid #49cbcd;
		transform: translate(-50%, -50%) rotate(50deg);
	}
}

.banner .slick-next.slick-arrow {
	border: none;
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	cursor: pointer;
	&::before {
		content: "";
		position: absolute;
		width: 20px;
		height: 20px;
		top: 50%;
		left: 40%;
		background-color: transparent;
		border-right: 2px solid #49cbcd;
		border-bottom: 2px solid #49cbcd;
		transform: translate(-50%, -50%) rotate(-50deg);
	}
}
.banner .slick-next.slick-arrow {
	display: none;
	opacity: 0;
	visibility: hidden;
	@media (min-width: 768px) {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}

.banner .slick-prev.slick-arrow {
	display: none;
	opacity: 0;
	visibility: hidden;
	@media (min-width: 768px) {
		display: block;
		opacity: 1;
		visibility: visible;
	}
}
