.feedback {
	text-align: center;
	padding: 80px 0;
	@media (min-width: 768px) {
		.feedback {
			padding: 100px 0;
		}
	}
	@media (min-width: 992px) {
		.feedback {
			padding: 150px 0 100px;
		}
	}
	h2 {
		font-size: 32px;
		font-weight: 400;
		color: #4e525d;
		@media (min-width: 768px) {
			font-size: 42px;
		}
	}
	.feedback-item p {
		font-size: 14px;
		color: #4e525d;
		margin: 0 auto;
		@media (min-width: 576px) {
			font-size: 16px;
		}
		@media (min-width: 768px) {
			width: 650px;
			font-size: 19px;
		}
	}
	.feedback-item p ~ p {
		font-size: 18px;
		color: #9a8faf;
		margin-top: 30px;
		@media (min-width: 768px) {
			font-size: 21px;
			margin-top: 50px;
		}
	}
	.slider-feedback {
		position: relative;
		.slick-prev,
		.slick-next {
			background-color: transparent;
			color: transparent;
			cursor: pointer;
			border: none;
			height: 25px;
			width: 25px;
			position: absolute;
			top: 0%;
		}
		.slick-prev {
			left: 0;
			z-index: 1;
		}
		.slick-next {
			right: 0;
		}
		.slick-prev::before {
			content: ("");
			display: inline-block;
			width: 12px;
			height: 12px;
			border-left: 1px solid #8c8c8c;
			border-bottom: 1px solid #8c8c8c;
			transform: rotate(50deg);
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		.slick-next::before {
			content: ("");
			display: inline-block;
			width: 12px;
			height: 12px;
			border-left: 1px solid #8c8c8c;
			border-bottom: 1px solid #8c8c8c;
			transform: rotate(-130deg);
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		.slick-prev:active:before,
		.slick-next:active:before {
			border-left: 1px solid #49cbcd;
			border-bottom: 1px solid #49cbcd;
		}
	}
}