.banner {
	margin-bottom: 75px;
	text-align: center;
	color: #fff;
	@media (max-width: 576px) {
		margin-bottom: 25px;
	}
	&__title {
		font-size: 63px;
		font-weight: 600;
		margin: 0px 0px 25px 0px;
		@media (max-width: 767px) {
			font-size: 45px;
		}
	}
	&__text {
		width: 100%;
		max-width: 400px;
		font-size: 23px;
		margin: 0px 0px 0px 0px;
		margin: 0 auto 80px;
		@media (max-width: 767px) {
			font-size: 17px;
			margin: 0 auto 40px;
		}
	}
	&__link {
		font-size: 26px;
		font-weight: 600;
		text-decoration: none;
		text-transform: capitalize;
		border: 3px solid #fff;
		border-radius: 8px;
		padding: 14px 40px 14px 40px;
		color: #fff;
		transition: all 0.3s ease;
		@media (max-width: 767px) {
			font-size: 20px;
			padding: 10px 15px 10px 15px;
		}
		&:hover {
			background-color: #fff;
			color: #484c55;
		}
	}
}
.slider {
	&__item {
		width: 100%;
		min-height: 566px;
		background-image: url(../img/banner.jpg);
		background-size: cover;
		background-position: center center;
		background-repeat: no-repeat;
		img {
			width: 100%;
		}
	}
	&__content {
		padding: 140px 0px 0px 0px;
	}
}
.banner .slick-prev.slick-arrow {
	border: none;
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	left: 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	cursor: pointer;
	&::before {
		content: "";
		position: absolute;
		top: 19px;
		left: 14px;
		width: 20px;
		height: 2px;
		background-color: #49cbcd;
		transform: rotate(-45deg);
	}
	&::after {
		content: "";
		position: absolute;
		top: 32px;
		left: 14px;
		width: 20px;
		height: 2px;
		background-color: #49cbcd;
		transform: rotate(45deg);
	}
}

.banner .slick-next.slick-arrow {
	border: none;
	font-size: 0;
	width: 50px;
	height: 50px;
	border-radius: 50%;
	position: absolute;
	right: 30px;
	top: 50%;
	transform: translateY(-50%);
	z-index: 5;
	cursor: pointer;
	&::before {
		content: "";
		position: absolute;
		top: 19px;
		left: 14px;
		width: 20px;
		height: 2px;
		background-color: #49cbcd;
		transform: rotate(220deg);
	}
	&::after {
		content: "";
		position: absolute;
		top: 31px;
		left: 14px;
		width: 20px;
		height: 2px;
		background-color: #49cbcd;
		transform: rotate(-220deg);
	}
}
.banner .slick-next.slick-arrow {
	@media (max-width: 576px) {
		display: none;
	}
}

.banner .slick-prev.slick-arrow {
	@media (max-width: 576px) {
		display: none;
	}
}
