$blue: #49cbcd;
$darkgray: #484c55;
$gray: #788492;
$lightgray: #f1f1f1;
$darkblue: #485460;
$white: #fff;
$pink: #f46d6d;

* {
	box-sizing: border-box;
}

body,
html {
	height: 100%;
}

body {
	font-family: "Open Sans", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

ul {
	list-style-type: none;
}

ul, li {
	margin: 0;
	padding: 0;
}

a {
	color: inherit;
	text-decoration: none;
}

.title {
	font-size: 42px;
	color: #485460;
}

.btn {
	display: inline-block;
	background-color: #49cbcd;
	color: #fff;
	border-radius: 3px;
	font-size: 24px;
	font-weight: 600;
}

.main {
	margin-top: 100px;
}
.container {
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.page-holder {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.portfolio{
	text-align: center;
	padding: 50px 0 100px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $lightgray;
		z-index: -1;
	}
	.portfolio-title{
		margin-bottom: 30px;
		@media (min-width: 768px) {
			margin-bottom: 45px;
		}
		@media (min-width: 992px) {
			margin-bottom: 60px;
		}
	}
	.portfolio-list{
		display: grid;
		justify-items: center;
		align-items: center;
		grid-template-columns: 100%;
		grid-template-rows: auto;
		margin: 0 0  45px;
		@media (min-width: 576px) {
			grid-template-columns: repeat(2, 50%);
		}
		@media (min-width: 992px) {
			grid-template-columns: repeat(3, 33%);
		}
		.portfolio-item{
			width: 100%;
			height: 100%;
			border-radius: 3px;
			padding: 15px;
			@media (min-width: 992px) {
				
			}
		}
	}
	.portfolio-btn{
		padding: 20px 40px;
		transition: all 0.2s linear;
		@media (min-width: 992px) {
			&:hover{
				background-color: $darkblue;
			}
		}
	}
}

.team {
	text-align: center;
	padding: 30px 0;
	@media (min-width: 576px) {
		padding: 40px 0;
	}
	@media (min-width: 768px) {
		padding: 60px 0;
	}
	@media (min-width: 1200px) {
		padding: 90px 0;
	}

	.team-title {
		margin-bottom: 50px;
		@media (min-width: 768px) {
			margin-bottom: 70px;
		}
		@media (min-width: 992px) {
			margin-bottom: 130px;
		}
	}
	.team-list {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		@media (min-width: 576px) {
			flex-direction: row;
			flex-wrap: wrap;
		}
		.team-item {
			max-width: 240px;
			margin-bottom: 30px;
			@media (min-width: 576px) {
				margin: 20px;
			}
			@media (min-width: 768px) {
				margin: 30px;
			}
			@media (min-width: 1200px) {
				margin: 0 60px 0 0;
			}
			&:last-child{
				margin-right: 0;
				.team-photo.zoom-box {
					.viewer-box{
						left: -310px!important;
					}
				}
			}
			.team-photo {
				border-radius: 50%;
				width: 205px;
				height: 205px;
				margin: 0 auto 20px;
				@media (min-width: 576px) {
					margin: 0 auto 30px;
				}
				@media (min-width: 768px) {
					margin: 0 auto 40px;
				}
				@media (min-width: 1200px) {
					margin: 0 auto 70px;
				}
			}
			.team-name {
				font-size: 22px;
				margin-bottom: 10px;
			}
			.team-position {
				margin-bottom: 30px;
			}
		}
	}
}

.zoom-box .zoom-selector{
	@media (min-width: 1200px) {
		background-image: url("../img/plus.svg");
		cursor: none;
	}
}

.zoom-box .viewer-box{
    border: 0;
	z-index: 9999;
	border-radius: 50%;
	display: none;
	img{
		display: none;
	}
	@media (min-width: 1200px) {
		img{
			display: block;
		}
	}
}

.pricing{
	display: flex;
	flex-wrap: wrap;
	position: relative;
	padding: 0 0 30px;
	&::after{
		content: ('');
		background-color: #f1f1f1;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translate(-50%);
		width: 100vw;
		z-index: -1;	
	}
	@media (min-width:768px) {
		padding: 120px 0;
		flex-wrap: nowrap;
		justify-content: space-between;
	}
	.basic, .pro, .premium{
		width: 100%;
		background-color: #f8f9fb;
		text-align: center;
		margin: 30px 0 0;
		@media (min-width:768px) {
			width: 33.333%;
			margin: 0 30px 0 0;
		}
	}
	h3{
		margin: 0;
		padding: 15px 0;
		font-size: 14px;
		color: $white;
		font-weight: 400;
		@media (min-width:576px) {
			font-size: 18px;
			padding: 20px 0;
		}
		@media (min-width:768px) {
			padding: 25px 0;
			font-size: 22px;
		}
	}
	.basic h3, .premium h3{
		background-color: $darkblue;
		
	}
	.pro h3{
		background-color: $blue;
	}
	.price{
		font-size: 14px;
		color: #4e525d;
		margin: 0;
		padding: 15px 0;
		@media (min-width:576px) {
			font-size: 18px;
			padding: 20px 0;
		}
		@media (min-width:768px) {
			padding: 25px 0;
			font-size: 22px;
		}
	}
	ul{
		list-style-type: none;
		margin: 0;
		padding: 0;
		li{
			font-size: 12px;
			padding: 15px 0;
			color: #b3b7bb;
			background-color: $white;
			border-top: 1px solid #f1f4f4;
		&:last-child{
				border-bottom: 1px solid #f1f4f4;
			}
		}
	}
	.pricing-btn{
		margin: 20px 0;
		padding: 10px 30px;
		color: $white;
		font-size: 13px;
		font-weight: 700;
		border: none;
		background-color: $gray;
		border-radius: 5px;
		&:active{
			background-color: $blue;
		}
		@media (min-width:576px) {
			font-size: 17px;
			padding: 15px 40px;
			
		}
		@media (min-width:768px) {
			font-size: 20px;
			padding: 15px 50px;
			margin: 30px 0;
		}
	}
}

.feedback {
	text-align: center;
	padding: 80px 0;
	@media (min-width: 768px) {
		.feedback {
			padding: 100px 0;
		}
	}
	@media (min-width: 992px) {
		.feedback {
			padding: 150px 0 100px;
		}
	}
	h2 {
		font-size: 32px;
		font-weight: 400;
		color: #4e525d;
		@media (min-width: 768px) {
			font-size: 42px;
		}
	}
	.feedback-item p {
		font-size: 14px;
		color: #4e525d;
		margin: 0 auto;
		@media (min-width: 576px) {
			font-size: 16px;
		}
		@media (min-width: 768px) {
			width: 650px;
			font-size: 19px;
		}
	}
	.feedback-item p ~ p {
		font-size: 18px;
		color: #9a8faf;
		margin-top: 30px;
		@media (min-width: 768px) {
			font-size: 21px;
			margin-top: 50px;
		}
	}
	.slider-feedback {
		position: relative;
		.slick-prev,
		.slick-next {
			background-color: transparent;
			color: transparent;
			border: none;
			height: 25px;
			width: 25px;
			position: absolute;
			top: 0%;
		}
		.slick-prev {
			left: 0;
			z-index: 1;
		}
		.slick-next {
			right: 0;
		}
		.slick-prev::before {
			content: ("");
			display: inline-block;
			width: 12px;
			height: 12px;
			border-left: 1px solid #8c8c8c;
			border-bottom: 1px solid #8c8c8c;
			transform: rotate(50deg);
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		.slick-next::before {
			content: ("");
			display: inline-block;
			width: 12px;
			height: 12px;
			border-left: 1px solid #8c8c8c;
			border-bottom: 1px solid #8c8c8c;
			transform: rotate(-130deg);
			display: none;
			@media (min-width: 768px) {
				display: block;
			}
		}
		.slick-prev:active:before,
		.slick-next:active:before {
			border-left: 1px solid #49cbcd;
			border-bottom: 1px solid #49cbcd;
		}
	}
}

.lg-toolbar .lg-icon{
	font-size: 45px;
}

.lg-toolbar .lg-close::after{
	content: "\2573";
}

#lg-download{
	display: none;
}

.lg-actions {
	font-size: 45px;
	.lg-prev::after {
	content: "\2190";
	}
	.lg-next::before {
		content: "\2192";
	}
}

.footer {
	padding: 50px 0;
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
  }
  @media (min-width: 768px) {
	.footer {
	  padding: 80px 0;
	}
  }
  @media (min-width: 992px) {
	.footer {
	  padding: 100px 0;
	}
  }
  .footer h2 {
	margin: 0;
	text-align: center;
	font-size: 32px;
	font-weight: 400;
	color: #fff;
  }
  @media (min-width: 768px) {
	.footer h2 {
	  font-size: 42px;
	}
  }
  .footer .footer-content {
	margin: 60px 0 0;
  }
  @media (min-width: 768px) {
	.footer .footer-content {
	  margin: 80px 0 0;
	}
  }
  @media (min-width: 992px) {
	.footer .footer-content {
	  margin: 120px 0 0;
	  display: -webkit-box;
	  display: -ms-flexbox;
	  display: flex;
	  -webkit-box-pack: justify;
		  -ms-flex-pack: justify;
			  justify-content: space-between;
	}
  }
  .footer .footer-content .contact-us p {
	font-size: 24px;
	margin: 0;
	padding: 0;
	color: #fff;
	text-align: center;
  }
  @media (min-width: 992px) {
	.footer .footer-content .contact-us p {
	  text-align: start;
	}
  }
  .footer .footer-content .contact-us p ~ p {
	font-size: 14px;
	min-width: 95%;
	color: rgba(255, 255, 255, 0.5);
	margin: 20px 0 0;
  }
  @media (min-width: 992px) {
	.footer .footer-content .contact-us p ~ p {
	  width: 430px;
	}
  }
  .footer .footer-content .social-icons {
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin: 45px 0 0;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  @media (min-width: 992px) {
	.footer .footer-content .social-icons {
	  -webkit-box-pack: start;
		  -ms-flex-pack: start;
			  justify-content: start;
	}
  }
  .footer .footer-content .social-icons li {
	width: 42px;
	height: 42px;
	margin: 0 15px 0 0;
	border-radius: 50%;
  }
  .footer .footer-content .social-icons li img {
	-o-object-fit: none;
	   object-fit: none;
  }
  .footer .footer-content .social-icons .facebook {
	background-color: #3b5997;
  }
  .footer .footer-content .social-icons .facebook:hover {
	background-color: #788492;
  }
  .footer .footer-content .social-icons .twitter {
	background-color: #3ec2f3;
  }
  .footer .footer-content .social-icons .twitter:hover {
	background-color: #788492;
  }
  .footer .footer-content .social-icons .google {
	background-color: #e44c41;
  }
  .footer .footer-content .social-icons .google:hover {
	background-color: #788492;
  }
  .footer .footer-content .contacts {
	margin: 25px 0 0;
	text-align: center;
  }
  .footer .footer-content .contacts li {
	margin: 0 0 15px 0;
  }
  .footer .footer-content .contacts li a {
	font-size: 14px;
	font-weight: 400;
	color: #bface2;
  }
  .footer .footer-content .contacts li a:hover {
	color: #fff;
  }
  @media (min-width: 992px) {
	.footer .footer-content .contacts {
	  text-align: start;
	}
  }
  .footer .message-form {
	margin: 50px 0 0;
	text-align: center;
  }
  @media (min-width: 992px) {
	.footer .message-form {
	  text-align: end;
	  margin: 0 0 0 160px;
	}
  }
  .footer .message-form input[type=name], .footer .message-form input[type=mail] {
	display: inline-block;
	padding: 15px 20px;
	width: 100%;
	height: 44px;
	font-size: 16px;
	color: #c1c1c1;
	background-color: #fff;
	border: 2px solid #fff;
	border-radius: 5px;
  }
  .footer .message-form input[type=name]:focus, .footer .message-form input[type=mail]:focus {
	outline: none;
	border: 2px solid #49cbcd;
  }
  @media (min-width: 768px) {
	.footer .message-form input[type=name], .footer .message-form input[type=mail] {
	  width: 45%;
	}
  }
  @media (min-width: 1200px) {
	.footer .message-form input[type=name], .footer .message-form input[type=mail] {
	  width: 270px;
	}
  }
  .footer .message-form input[type=mail] {
	margin: 15px 0 0;
  }
  @media (min-width: 768px) {
	.footer .message-form input[type=mail] {
	  margin: 0 0 0 60px;
	}
  }
  @media (min-width: 992px) {
	.footer .message-form input[type=mail] {
	  margin: 0 0 0 30px;
	}
  }
  @media (min-width: 1100px) {
	.footer .message-form input[type=mail] {
	  margin: 0 0 0 45px;
	}
  }
  @media (min-width: 1200px) {
	.footer .message-form input[type=mail] {
	  margin: 0 0 0 30px;
	}
  }
  .footer .message-form textarea[name=message] {
	display: block;
	margin: 15px 0 0;
	padding: 15px 20px;
	width: 100%;
	height: 179px;
	font-size: 16px;
	color: #c1c1c1;
	border: 2px solid #fff;
	border-radius: 5px;
	resize: none;
  }
  .footer .message-form textarea[name=message]:focus {
	outline: none;
	border: 2px solid #49cbcd;
  }
  @media (min-width: 992px) {
	.footer .message-form textarea[name=message] {
	  margin: 30px 0 0;
	}
  }
  .footer .message-form input[type=submit] {
	background-color: #49cbcd;
	width: 100px;
	padding: 10px 0;
	margin: 15px 0 0;
	border: none;
	border-radius: 5px;
	text-align: center;
	font-size: 22px;
	color: #fff;
  }
  .footer .message-form input[type=submit]:active {
	background-color: #788492;
	outline: none;
  }
  @media (min-width: 768px) {
	.footer .message-form input[type=submit] {
	  width: 130px;
	}
	.footer .message-form input[type=submit]:hover {
	  background-color: #788492;
	}
	.footer .message-form input[type=submit]:active {
	  background-color: #49cbcd;
	}
  }
  @media (min-width: 992px) {
	.footer .message-form input[type=submit] {
	  margin: 30px 0 0;
	  width: 170px;
	  padding: 15px 0;
	}
  }
