$blue: #49cbcd;
$darkgray: #484c55;
$gray: #788492;
$lightgray: #f1f1f1;
$darkblue: #485460;
$white: #fff;
$pink: #f46d6d;

* {
	box-sizing: border-box;
}

img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}

ul{
	list-style-type: none;
}

ul, li{
	margin: 0;
	padding: 0;
}

a{
	color: inherit;
	text-decoration: none;
}

body, html {
	height: 100%;
}

body {
    font-family: 'Open Sans', sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
	color: $darkblue;
}

.container{
	max-width: 1200px;
	width: 100%;
	padding: 0 15px;
	margin: 0 auto;
}

.title{
	font-size: 42px;
	color: $darkblue;
}

.btn{
	display: inline-block;
	background-color: $blue;
	color: $white;
	border-radius: 3px;
	font-size: 24px;
	font-weight: 600;
}

.page-holder {
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	overflow: hidden;
}

.portfolio{
	text-align: center;
	padding: 50px 0 100px;
	position: relative;
	&::before{
		content: '';
		position: absolute;
		width: 100vw;
		height: 100%;
		top: 0;
		left: 50%;
		transform: translateX(-50%);
		background-color: $lightgray;
		z-index: -1;
	}
	.portfolio-title{
		margin-bottom: 60px;
	}
	.portfolio-list{
		display: grid;
		grid-template-columns: repeat(3, 33%);
		grid-template-rows: repeat(2, 50%);
		margin: -15px -15px 45px;
		.portfolio-item{
			width: 370px;
			height: 315px;
			margin: 15px;
			border-radius: 3px;
		}
	}
	.portfolio-btn{
		padding: 20px 40px;
		transition: all 0.2s linear;
		&:hover{
			background-color: $darkblue;
		}
	}
}

.team {
	text-align: center;
	padding: 90px 0;
	.team-title {
		margin-bottom: 130px;
	}
	.team-list {
		display: flex;
		.team-item {
			margin-right: 60px;
			&:last-child{
				margin-right: 0;
			}
			.team-photo {
				border-radius: 50%;
				overflow: hidden;
				width: 205px;
				height: 205px;
				margin: 0 auto 70px;
			}
			.team-name {
				font-size: 22px;
				margin-bottom: 10px;
			}
			.team-position {
				margin-bottom: 30px;
			}
		}
	}
}


.feedback{
	text-align: center;
	h2{
		font-size: 32px;
		font-weight: 400;
		color: #4e525d;
		@media (min-width:768px) {
			font-size: 42px;
		}
	}
	.feedback-item p{
		font-size: 14px;
		color: #4e525d;
		margin: 0 auto;
		@media (min-width:576px) {
			font-size: 16px;
		}
		@media (min-width:768px) {
			width: 650px;
			font-size: 19px
		}
	}
	.feedback-item p ~ p{
		font-size: 18px;
		color: #9a8faf;
		margin-top: 30px;
		@media (min-width:768px) {
			font-size: 21px;
			margin-top: 50px;
		}
	}
	.slider-feedback{
		position: relative;
		.slick-prev, .slick-next{
			background-color: transparent;
			color: transparent;
			border: none;
			height: 25px;
			width: 25px;
			position: absolute;
			top: 0%;
		}
		.slick-prev{
			left: 0;
			z-index: 1;
		}
		.slick-next{
			right: 0;
		}
		.slick-prev::before{
			content: ('');
			display: inline-block;
			width: 12px;
			height: 12px;
			border-left: 1px solid #8c8c8c;
			border-bottom: 1px solid #8c8c8c;
			transform: rotate(50deg);
			display: none;
			@media (min-width:768px) {
				display: block;
			}
		}
		.slick-next::before{
			content: ('');
			display: inline-block;
			width: 12px;
			height: 12px;
			border-left: 1px solid #8c8c8c;
			border-bottom: 1px solid #8c8c8c;
			transform: rotate(-130deg);
			display: none;
			@media (min-width:768px) {
				display: block;
			}
		}
		.slick-prev:active:before, .slick-next:active:before{
			border-left: 1px solid #49cbcd;
			border-bottom: 1px solid #49cbcd;
		}
	}
}
